header {
  background-color: var(--blackfamily);
  /* border: 2px solid red; */
}

.nav-sect {
  /* border: 2px solid red; */
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5vw;
}

.logo-img {
  width: 50px;
}
@media screen and (max-width: 1100px) {
  .logo-img {
    position: absolute;
    top: 30px;
    left: 5vw;
  }
}

.open {
  display: none;
  animation: gelatinEffect 1s ease-in-out infinite;
  color: var(--darkbronze);
}

.close {
  display: none;
}
@keyframes gelatinEffect {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (max-width: 1100px) {
  .close {
    display: block;
    position: absolute;
    top: 40px;
    font-size: 30px;
  }
  .add-close-anim {
    animation: bounce 2s 2;
  }

  .open {
    display: block;
    position: absolute;
    top: 40px;
    right: 5vw;
    font-size: 2.2rem;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

nav {
  width: 65%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}
@media screen and (max-width: 1100px) {
  header nav {
    min-height: 100vh;
    background-color: #a5a590;
    position: fixed;
    width: 300px;
    top: 0;
    z-index: 20;
    transition: ease 1s all;
  }
  .remove-nav {
    right: -1000px;
  }
  .add-nav {
    right: 0px;
  }

  nav ul {
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
    margin-top: 70px;
  }
}
@media screen and (max-width: 840px) {
  header {
    margin-inline: 0;
  }
  header nav {
    width: 100vw;
  }
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  color: var(--white);
  text-decoration: none;
  font-weight: 700;
  transition: ease 0.5s all;
}
nav ul li a:hover {
  color: var(--darkbronze);
}

nav ul li a button {
  background-color: var(--darkbronze);
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  color: var(--white);
  font-size: 18px;
  transition: ease 0.5s all;
  cursor: pointer;
}
nav ul li a button:hover {
  background-color: var(--verydarkbronze);
}

/* ======== */
/* SubHeader CSS */
.sub-header-con {
  /* border: 2px solid green; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* height: 90vh; */
  padding-block: 0em 3em;
  padding-left: 5vw;
  max-width: var(--max-width-with-img);
  margin-left: auto;
}
@media screen and (max-width: 1100px) {
  .sub-header-con {
    margin-top: 80px;
    flex-direction: column;
    width: fit-content;
    padding-bottom: 20px;
    padding-block: 3em 1.5em;
  }

  .know-profit-con {
    min-width: 100%;
    z-index: 10;
    padding-right: 5vw;
  }

  .know-profit-img {
    min-width: 100%;
    margin-top: -120px;
    max-height: 800px;
  }
}

.know-profit-con {
  /* border: 2px solid red; */
  width: 50%;
  color: var(--white);
}

h1 {
  font-size: var(--mainheader);
  line-height: 2cm;
}
@media screen and (max-width: 840px) {
  h1 {
    font-size: 6vw !important;
    line-height: 1.5cm;
  }
}
@media screen and (max-width: 600px) {
  h1 {
    line-height: 1cm;
  }
}

h1 span {
  color: var(--darkbronze);
}

.know-profit-con h4 {
  margin-block: 25px;
  line-height: 0.7cm;
}

.know-profit-con p {
  opacity: 0.8;
  line-height: 0.7cm;
}

.know-profit-con p span {
  color: var(--darkbronze);
  font-weight: 900;
}

.know-profit-img {
  /* border: 2px solid green; */
  width: 50%;
  height: 700px;
}
